/.settings/
/.project
hrm-rest/hrm-rest-facade/.gitignore
hrm-rest/hrm-rest-facade/.classpath
hrm-springservices/.classpath
.idea/
.settings/
.project
.classpath
*.iml
**/target/
groovy-intengration-tests/.gradle
