
<!-- widget grid -->
<section id="widget-grid" class="fullscreen-grid-holder">
	<!-- Widget ID (each widget will need unique ID)-->
	<div class="jarviswidget" id="wid-id-0" >
		<header>
			<span class="widget-icon"> <i class="fa fa-edit"></i> </span>
			<h2>Form Grid </h2>
		</header>
		<!-- widget div-->
		<div role="content">
			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
				<input class="form-control" type="text">
				<span class="note"><i class="fa fa-check text-success"></i> Change title to update and save instantly!</span>
			</div>
			<!-- end widget edit box -->
			
			<!-- widget content -->
			<div class="widget-body ">
				<div ng-controller="CountryController">
					<div class="grid-tools">
						<button class="btn btn-labeled btn-success" ng-click="addNew(undefined)">
							<span class="btn-label"><i
								class="glyphicon glyphicon-plus"></i></span>Add New Record
						</button>
						<button class="btn btn-labeled btn-danger" ng-click="removeItem()">
							<span class="btn-label"><i
								class="glyphicon glyphicon-trash"></i></span>Delete Selected Record(s)
						</button>
						|
						<button class="btn btn-labeled btn-default"
							ng-click="showSlide = !showSlide">
							<span class="btn-label"><i
								class="glyphicon glyphicon-search"></i></span>Search
						</button>
						<div class="search-tools well well-sm well-primary" ng-show="showSlide">
							<div class="row">
								<div class="col-md-2 col-lg-2 col-sm-6 col-xs-12">
									<input class="form-control" type="text" placeholder="name">
								</div>
								<div class="col-md-1 col-lg-1 col-sm-6 col-xs-12">
									<input class="form-control" placeholder="Age" type="number">
								</div>
								<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
									<input class="form-control" placeholder="Address">
								</div>
								<div class="col-md-2 col-lg-2 col-sm-12 col-xs-12">
									<button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</div>
				</div>
					<div ui-grid="gridOptions" external-scopes="modalscope" ui-grid-paging ui-grid-move-columns ui-grid-selection ui-grid-pinning ui-grid-auto-resize class="grid" ></div>
				</div>
			</div>
			<!-- end widget content -->
		</div>
		<!-- end widget div -->
	</div>
	<!-- end widget -->
</section>
<!-- end widget grid -->

<!-- modal -->
<script type="text/ng-template" id="editModal.html">
	<div class="modal-header">
	    <h3 class="modal-title">Add/Edit Country</h3>
	</div>
	<form id="editForm" novalidate name="editForm">
	<div class="modal-body">
		<div class="row">
			<ul class="dl-horizontal" ng-show="validationErrors">
				<li class="text-danger" ng-repeat="error in validationErrors">{{error.message}} : {{error.invalidValue}}</li>
			</ul>
		</div>
		<div class="row">
		   <fieldset>
				<hrm-field-validator control-label="Name" control-msg="Name should be alphabetic and at least 2 characters" required-msg="Name is required" >
					<input type="text" class="form-control" name="name" ng-model="entity.name" required ng-pattern="/^([A-Za-z]{2,})\b/"/> 
				</hrm-field-validator>
				<hrm-field-validator control-label="Code" control-msg="Code is should be composed of two uppercase letters (eg. AU)" required-msg="Code is required" >
					<input type="text" class="form-control" name="code" ng-model="entity.code" required ng-pattern="/^[A-Z]{3}\b/"/> 
				</hrm-field-validator>
				<hrm-field-validator control-label="Region" control-msg="" required-msg="Region is required" >
					<select name="region" class="form-control" ng-model="entity.region" ng-options="region.name for region in regions track by region.id" required>
						Select Region
					</select>
				</hrm-field-validator>
			</fieldset>
		</div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
	    <button class="btn btn-success" ng-click="save()" ng-disabled="editForm.$pristine">Save</button>
	</div>
	</form>
	</script>

<!-- end modal -->

<!-- SCRIPTS ON PAGE EVENT -->
<script type="text/javascript">
	pageSetUp();

	

	/*$(window).resize(function() {
	    if ($(window).height()==wHeight){return}; 
	    wHeight = $(window).height();
	    $(".fullscreen-grid-holder .grid").height(wHeight - gridPos.top -20 );
	});*/
</script>
