<!-- PAGE FOOTER -->
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<span class="txt-color-white">TAV IT - tams © </span>
	</div>

	<div class="col-xs-6 col-sm-6 hidden-xs">

		<button class="btn btn-xs bg-color-blue txt-color-white pull-right" ng-click="toggleSettings()">
	  		<i class="fa fa-link"></i> <span class="caret"></span> 
	  	</button>
	  	<div class="settings-menu">
	  		<form>
				<legend class="no-padding margin-bottom-10">Layout Options</legend>
				<section>
					<label><input name="subscription" id="smart-fixed-header" type="checkbox" class="checkbox style-0" ng-click="fixedHeader($event)" checked="checked"><span>Fixed Header</span></label>
					<label><input type="checkbox" name="terms" id="smart-fixed-navigation" class="checkbox style-0" ng-click="fixedNav($event)" checked="checked"><span>Fixed Navigation</span></label>
					<label><input type="checkbox" name="terms" id="smart-fixed-ribbon" class="checkbox style-0" ng-click="fixedRibbon($event)" checked="checked"><span>Fixed Ribbon</span></label>
					<label><input type="checkbox" name="terms" id="smart-fixed-footer" class="checkbox style-0" ng-click="fixedFooter($event)" checked="checked"><span>Fixed Footer</span></label>
					<label><input type="checkbox" id="rtl-support" class="checkbox style-0" ng-click="rtlSupport($event)"><span>RTL Support</span></label>
					<label><input type="checkbox" id="smart-topmenu" class="checkbox style-0 menutop" ng-click="menuOnTop($event)"><span>Menu on <b>top</b></span></label>
				</section>
				<section>
					<h6 class="margin-top-10 semi-bold margin-bottom-5">Clear Localstorage</h6>
					<a href="javascript:void(0);" class="btn btn-xs btn-block btn-primary" id="reset-smart-widget" ng-click="resetWidgets($event)" ><i class="fa fa-refresh"></i> Factory Reset</a>
				</section>
					<h6 class="margin-top-10 semi-bold margin-bottom-5">SmartAdmin Skins</h6>
				<section id="smart-styles">
					<a href="javascript:void(0);" id="smart-style-0" ng-click="smartStyles($event)" data-skinlogo="img/tams_logo_red_black.png" class="btn btn-block btn-xs txt-color-white margin-right-5" style="background-color:#4E463F;">Smart Default</a>
					<a href="javascript:void(0);" id="smart-style-1" ng-click="smartStyles($event)" data-skinlogo="img/tams_logo.png" class="btn btn-block btn-xs txt-color-white" style="background:#3A4558;"><i class="fa fa-check fa-fw" id="skin-checked"></i>Dark Elegance</a>
					<a href="javascript:void(0);" id="smart-style-2" ng-click="smartStyles($event)" data-skinlogo="img/tams_logo.png" class="btn btn-xs btn-block txt-color-darken margin-top-5" style="background:#fff;">Ultra Light</a>
					<a href="javascript:void(0);" id="smart-style-3" ng-click="smartStyles($event)" data-skinlogo="img/tams_logo_white.png" class="btn btn-xs btn-block txt-color-white margin-top-5" style="background:#f78c40">Google Skin</a>
				</section>
			</form> 
		</div>




		<!-- multiple lang dropdown : find all flags in the image folder -->
		<ul data-lang-menu="" class="header-dropdown-list hidden-xs dropup   pull-right" data-ng-controller="LangController">
			<li>
				<a href="" class="dropdown-toggle" data-toggle="dropdown">
					<img alt="" class="flag flag-{{ currentLang.flagCode }}" src="img/blank.gif"> <span> {{ currentLang.translation }} </span> <i class="fa fa-angle-down"></i> 
				</a>
				<ul class="dropdown-menu pull-right">
					<li data-ng-class="{active: lang == currentLang}" data-ng-repeat="lang in languages">
						<a href="" data-ng-click="setLang(lang)" ><img class="flag flag-{{ lang.flagCode }}" src="img/blank.gif" /> {{ lang.language }} ({{ lang.translation }}) </a>
					</li>
				</ul>
			</li>
		</ul>
		<!-- end multiple lang -->
	</div>
</div>
<!-- END PAGE FOOTER -->